<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ID</key>
	<string>com.example.exampleProduct</string>
	<key>Name</key>
	<string>Some Name</string>
	<key>DisplayProperties</key>
	<dict>
		<key>Icon</key>
		<string>someicon.png</string>
	</dict>
</dict>
</plist>
